#fitfrostleft {
    font-family: "Nunito";
    color: #F1F3F6;
    text-shadow: 0 0 4px #7C7D7F
    font-size: 40px;
}
#logo{
	
	}
header {
    background-image: url(../img/jartoast.png);
	background-attachment: fixed;
    position: relative;
    right: 20px;
    height: 100vh;
    width: 103vw;
}
.navbar-default .navbar-toggle {
    background-color: #5091C5;
    border-color: #3463A2;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2F6CAA;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}
a {
    color: #337ab7;
}

section {
    padding: 2em 0;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-size: 40px;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 30px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Didact Gothic","Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    /* font-style: italic; */
    font-weight: 400;
    margin-bottom: 75px;
}
.text-muted {
    color: #777;
    font-family: "didact gothic";
    font-size: 18px;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #337ab7;
}
::selection {
    text-shadow: none;
    background: #337ab7;
}
#frostit {
    height: 150%;
}

#image {
    background-image: url("../img/ffjar.png");
    /* line-height: 650px; */
    width: 100%;
    height: 33em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
	    margin-top: -10em;

}
.preview{
		width:15%;
		display: inline;
    margin-left:10%;
    margin-top:20px;
}
#comment{
	padding-botttom:3em;
	}
#ingredients{
	text-align: center;
	}
img{
		width:95%;
}
.col-centered{
    float: right;
    margin: 0 auto;
}
#description{
  text-align: center;
  background-color: #454545;
	}

section#contact {
    background-color: #222;
    background-image: url(../img/largetoast1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#contact .section-heading {
    color: #fff;
    text-shadow: 0 0 3px black;
}
	
.parallax-container {
      height: 50vh;
	  background-attachment:fixed;
	  background-position: center center;
	  background-size: cover;
    }
#parallax1{
	background-image: url(../img/largetoast1.png);
	}
#parallax2{
	background-image: url(../img/cupcakes1.jpg);
	}
#ingredienttext{
	font-family: "Didact Gothic", sans-serif;
    text-transform: none;
    color: #514F4F;
    font-style: normal;
    font-size: 1.125em;
    font-weight: 200;
	}
	
.test{
    width:100vw;
	background-color: #2A7ED1;
}
.pic {
    width: 50%;
    margin-left: 25%;
    margin-top: 3em;
    border: 8px solid #E4E1E1;
}
#testimonialname{
  text-align:center;
  color: black;
  background-color:none;
  color:white;
}
#testimonialquote{
  color: black;
  width:80%;
  text-align: center;
  margin-left:10%;
  font-family: "Didact Gothic", sans-serif;
    text-transform: none;
    color: #514F4F;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 200;
	color: white;
}
#productdescription{
 color: black;
  font-family: "Didact Gothic", sans-serif;
    text-transform: none;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 200;
	}
/*
	.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
*/
@media (max-width: 940px)
{
header {
     /*   background-image: url(../img/heroextended.png); */
    /* background-size: cover; */
    position: relative;
    left: -2em;
    right: 20px;
    height: 50vh;
    width: 108vw;
    /* margin-top: 3em; */
	}
}

@media (min-device-width:300px) and (max-width: 700px)
{
header {
    background-image: url(../img/herooption1.png);
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-position-y: 3em;
    position: relative;
    /* left: -2em; */
    /* right: 20px; */
    /* height: 50vh; */
    width: 110vw;
    /* margin-top: 3em; */
}
.parallax-container {
    background-attachment: fixed;
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
}

