#fitfrostleft {
    font-family: "Nunito";
    color: #F1F3F6;
    text-shadow: 0 0 5px #233D54;
    font-size: 40px;
}
#logo{
	
	}
header {
    background-image: url(../img/jartoast.png);
	background-attachment: fixed;
    position: relative;
    right: 20px;
    height: 100vh;
    width: 103vw;
}
.navbar-default .navbar-toggle {
    background-color: #5091C5;
    border-color: #3463A2;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #2F6CAA;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #337ab7;
}
a {
    color: #337ab7;
}

section {
    padding: 2em 0;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #337ab7;
}
::selection {
    text-shadow: none;
    background: #337ab7;
}
#frostit {
    height: 150%;
}

#image {
    background-image: url("../img/ffjar.png");
    /* line-height: 650px; */
    width: 100%;
    height: 33em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 10px;
	    margin-top: -10em;

}
.preview{
		width:15%;
		display: inline;
    margin-left:10%;
    margin-top:20px;
}
#comment{
	padding-botttom:3em;
	}
#ingredients{
	text-align: center;
	}
img{
		width:95%;
}
.col-centered{
    float: right;
    margin: 0 auto;
}
#description{
  text-align: center;
  background-color: #454545;
	}

section#contact {
    background-color: #222;
    background-image: url(../img/largetoast1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section#contact .section-heading {
    color: #fff;
    text-shadow: 0 0 3px black;
}
	
.parallax-container {
      height: 50vh;
	  background-attachment:fixed;
	  background-position: center center;
	  background-size: cover;
    }
#parallax1{
	background-image: url(../img/largetoast1.png);
	}
#parallax2{
	background-image: url(../img/cupcakes1.jpg);
	}
#ingredienttext{
	    font-family: "Didact Gothic", sans-serif;
    text-transform: none;
    color: #514F4F;
    font-style: normal;
    font-size: 1.125em;
    font-weight: 200;
	}
@media (max-width: 940px)
{
header {
     /*   background-image: url(../img/heroextended.png); */
    /* background-size: cover; */
    position: relative;
    left: -2em;
    right: 20px;
    height: 50vh;
    width: 108vw;
    /* margin-top: 3em; */
	}
}

@media (min-device-width:300px) and (max-width: 700px)
{
header {
    background-image: url(../img/herooption1.png);
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-position-y: 3em;
    position: relative;
    /* left: -2em; */
    /* right: 20px; */
    /* height: 50vh; */
    /* width: 108vw; */
    /* margin-top: 3em; */
}

}

